
.DS_Store
CreatingDataset/FrequencyDomain/.ipynb_checkpoints/DatasetAnalysis-checkpoint.ipynb
MachineLearningModels-FrequencyDomain/.ipynb_checkpoints/Associated Currents-checkpoint.ipynb
CreatingDataset/TimeDomain/.ipynb_checkpoints/DatasetAnalysis-checkpoint.ipynb
MachineLearningModels-TimeDomain/Associated Currents/.ipynb_checkpoints/CurrentCombination-checkpoint.ipynb
MachineLearningModels-TimeDomain/Isolated Currents/.ipynb_checkpoints/IsolatedCurrent-checkpoint.ipynb
CreatingDeepLearningDataset/FrequencyDomain/.ipynb_checkpoints/CreateDataset-checkpoint.ipynb
Análises Finais/.ipynb_checkpoints/Análise - Séries Temporais - Domínio da Frequênia-checkpoint.ipynb
Análises Finais/.ipynb_checkpoints/Análise - Séries Temporais - Domínio do tempo-checkpoint.ipynb
